.container.form__container.bg-color-secondary#contacto
  .content
    .grid-2-col.no-gap
      .content.form__content.bg-color-white
        h4.mdc-typography--headline4.color-primary ¡Escríbenos!
        h5.mdc-typography--headline5.margin-bottom Queremos conocerte.
        .form__box.flex-col-ss
                <div class="mdc-text-field mdc-text-field--outlined js-contact-nombre margin-bottom">
                  <input type="text" id="tf-outlined" class="mdc-text-field__input" required>
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="tf-outlined" class="mdc-floating-label">Nombre completo</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>
                <div class="mdc-text-field mdc-text-field--outlined js-contact-telefono margin-bottom">
                  <input type="text" id="tf-outlined" class="mdc-text-field__input" required>
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="tf-outlined" class="mdc-floating-label">Teléfono</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>
                <div class="mdc-text-field mdc-text-field--outlined js-contact-correo margin-bottom">
                  <input type="text" id="tf-outlined" class="mdc-text-field__input" required>
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="tf-outlined" class="mdc-floating-label">Correo</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>
                <div class="mdc-text-field mdc-text-field--textarea js-contact-mensaje margin-bottom">
                  <textarea id="textarea" class="mdc-text-field__input" rows="8" cols="40"></textarea>
                  <div class="mdc-notched-outline">
                    <div class="mdc-notched-outline__leading"></div>
                    <div class="mdc-notched-outline__notch">
                      <label for="textarea" class="mdc-floating-label">Mensaje</label>
                    </div>
                    <div class="mdc-notched-outline__trailing"></div>
                  </div>
                </div>
                button.margin-bottom(href="" class="mdc-button mdc-button mdc-button--unelevated mdc-button--primary")
                    span(class="mdc-button__label") ENVÍAR

      .content.contact__content.bg-color-primary.text-center
        h6.mdc-typography--headline6 O si prefieres contáctanos directamente a:
        img.contact__img(src="assets/img/celular.png", alt="celular")
        p.mdc-typography--headline5 +56 9 8201 8757 
        img.contact__img(src="assets/img/correo.png", alt="correo")
        p.mdc-typography--headline5 contacto@commandeapp.com