footer
    .container.footer__container
      .content.footer__content
        .grid-2-col
            .footer__box.flex-col-ss
                img.footer__logo(src="assets/svg/commande-logo.svg", alt="logo commande")
                p Software para la gestión de solicitudes en restaurantes, bares y cafés. 
                p Nuevo paradigma de atención en local del que no te puedes quedar fuera.

            .footer__box--two
                .footer__action
                    a.footer__link(href="" class="mdc-button mdc-button--outlined btn-outline-invert")
                        span(class="mdc-button__label") Registrarse
                    a(href="" class="mdc-button--invert mdc-button mdc-button--unelevated")
                        span(class="mdc-button__label") Acceso Clientes
                .footer__rrss
                    a(href="")
                        img(src="assets/svg/facebook.svg", alt="facebook commande")
                    a(href="")
                        img(src="assets/svg/instagram.svg", alt="intagram commande")
                    a(href="")
                        img(src="assets/svg/linkedin.svg", alt="linkedin commande")
                    a(href="")
                        img(src="assets/svg/twitter.svg", alt="twitter commande")
                .footer__contact
                    p +56 9 8201 8757 
                    a(href="contacto@commandeapp.com" target="_top") contacto@commandeapp.com