.main{
    &__container{
        padding-top: 100px;
    }
    &__title{
        padding-bottom: 3em;
        color: $color-primary;
        @media only screen and (max-width: $small){
            padding-bottom: 1em;
        }
    }
    &__info{
        padding: 4em 2em;
        color: white;
        h5{
            padding-right: 5em;
            padding-bottom: 1em;
        }
        @media only screen and (max-width: $small){
            padding: 2em 1em;
            h5{
                padding-right: 2em;
            }
        }
    }
}