extends ../config/template
append config
  -pageTitle = 'Contacto'
  -pageDescription = 'Contacto'
  -pageImage = 'assets/svg/commande-logo.svg'

block main
  include ../includes/main-menu
  img.img__absolute(src="assets/img/registro.png", alt="registro")
       
block footer
  include ../includes/footer

