extends ../config/template
append config
  -pageTitle = 'Commande'
  -pageDescription = 'Pagina inicial de Commande'
  -pageImage = 'assets/svg/commande-logo.svg'

block main
  include ../includes/main-menu
  .main__container
    .main__deco
    .main__content
      .main__title
        h2.mdc-typography--headline2 Sabemos la importancia de tener clientes felices
      .main__img
      .main__info
        h5.mdc-typography--headline5 Administra fácilmente todas las solicitudes de tus comensales y fidelízalos para que vuelvan una y otra vez.   
        button(class="botton mdc-button mdc-button--unelevated")
          span(class="mdc-button__label") Pide un Demo
      .main__none

  .nosotros__container
    .nosotros__content
      .nosotros__title
        h2.mdc-typography--headline2 Conoce lo que puedes hacer con nosotros.
      .nosotros__tab-bar
      .nosotros__box
        .nosotros__text
         h5.mdc-typography--headline5 Mantén el orden y la gestión de tu restorant, bar o local de comida de forma fácil, eficiente y organizada.
         h4.mdc-typography--headline4 ¡Mira el video!
        .nosotros__video
          iframe(width="720" height="480" src="https://www.youtube.com/embed/svH3LW5J36M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)


  .container
    .content.flex-col-cc
      .content-float-images
        img.float-img.float-img__smartphone(src="assets/img/smartphone.jpg", alt="smartphone")
        img.float-img(src="assets/img/float-cards.png", alt="float-cards")
      .center-text
        h2.mdc-typography--headline2 Mantén a tus clientes felices
        h5.mdc-typography--headline5 y sin hacerlos esperar demás, diles exactamente cuanto te demorarás en atender su solicitud y recibe feedback de inmediato.

  .container
    .content
      .grid-3-col
        .box.flex-col-ss
          img(src="assets/img/analitica.png", alt="")
          pre.mdc-typography--caption ESTADÍSTICAS Y ANÁLITICA
          h5.mdc-typography--headline5 Conoce a tu clientela y mejora tu relación con ellos.
          p.mdc-typography--body1 Descubre los horarios en los que te visita, cuanto tiempo están disfrutando y crea promociones para que vuelvan una y otra vez.
        .box.flex-col-ss
          img(src="assets/img/promociones.png", alt="")
          pre.mdc-typography--caption PREMIOS Y PROMOCIONES
          h5.mdc-typography--headline5 Crea promociones y fideliza a tus clientes.
          p.mdc-typography--body1 Puedes crear promociones especiales a todos tus clientes o cada cantidad de visitas poder canjear premios y beneficios exclusivos.
        .box.flex-col-ss
          img(src="assets/img/administracion.png", alt="")
          pre.mdc-typography--caption ADMINISTRACIÓN Y GESTIÓN
          h5.mdc-typography--headline5 Registra cuanto tiempo esperan tus clientes para ser atendidos.
          p.mdc-typography--body1 No dejes que ningún cliente se vaya por que nunca recibió atención o fue mal atendido.

  .container
    .content
      .center-text
        h2.mdc-typography--headline2 Encuentra nuestros QR's en...
  .container.clients__container
    .content
      .grid-4-col
        img(src="assets/img/protobar.png", alt="Protobar")
        img(src="assets/img/saratoga.png", alt="Saratoga")
        img(src="assets/img/pacto-arte-bar.png", alt="Pacto bar")
        img(src="assets/img/insert-coin.png", alt="Insert Coin")

  .container.price__container
    .content
      .center-text.price__title
        h2.mdc-typography--headline2 PRECIOS
      .card__content
        .card.card--normal
          .card__title
            h3.mdc-typography--headline3 GRATIS
            pre.mdc-typography--caption POR UN MES
          .card__price.card--normal__price
            h1.mdc-typography--headline1 0
          .card__features
            ul
              li Podrás gestionar las solicitudes en tu restaurante.
              li Obtendrás QRS-Commande para cada una de tus mesas.
          .card__action
            button(class="botton mdc-button mdc-button--unelevated")
              span(class="mdc-button__label") Pide un Demo
        .card.card--premium
          .card__title
            h3.mdc-typography--headline3 PREMIUM
            pre.mdc-typography--caption PAGO MENSUAL
          .card__price
            h1.mdc-typography--headline1 1
            p Dólar por mesa.
          .card__features
            ul 
              li Podrás gestionar las solicitudes en tu restaurante.
              li Obtendrás QRS-Commande para cada una de tus mesas.
              li Obtendrás ESTADÍSTICAS y podrás conocer a tus clientes a fondo.
          .card__action
            button(class="card__action--premium mdc-button mdc-button--unelevated")
              span(class="mdc-button__label") SOLICITAR PREMIUM

block footer
  include ../includes/footer
        

