-let pageTitle = 'Commande'
-let siteName = 'Commande App'
-let twitterAccount = '@CommandeApp'
-let pageDescription = 'Sitio Oficial de Commande App, tu aplicación para la gestión de restaurantes, bares y locales de comida.'
-let pageImage = ''
-
  let pages = [
    {
      title: 'Inicio',
      url: 'index.html',  
      child: [],
      class: 'mdc-button'
    },
    {
      title: 'Nosotros',
      url: '#nosotros',
      child: [],
      class: 'mdc-button'
    },
    {
      title: 'Precios',
      url: '#precios',
      child: [],
      class: 'mdc-button'
    },
    {
      title: 'Registrarse',
      url: '/registrarse.html',
      child: [],
      class: 'mdc-button'
    },
    {
      title: 'Iniciar Sesión',
      url: '/',
      child: [],
      class: 'mdc-button mdc-button--outlined'
    },
    {
      title: 'Contacto',
      url: './#contacto',
      child: [],
      class: 'mdc-button mdc-button--unelevated'
    }
  ]
